<style type="text/css">
    head{
        font-family: 'Arial, Helvetica, sans-serif';
        font-weight: 380;
    }
    footer{
        font-family: 'Arial, Helvetica, sans-serif';
        font-weight: 380;
    }
    body{
        background-color: lightgrey;
        font-family: 'Arial, Helvetica, sans-serif';
        font-weight: 380;
    }

    :root {

        --main-background-color: #6b6a5d;
        --dark-background-color: #4d4d4d;
        --secondary-text-color: #808080;
        --light-primary-text-color: #0182be;
    }

    .form-signin{
        border-radius: 100px;
    }

</style>
